:root {
  --bs-blue: #385170;
  --bs-indigo: #6A0136;
  --bs-purple: #A50B5E;
  --bs-pink: #E85D75;
  --bs-red: #F2504A;
  --bs-orange: #F39237;
  --bs-yellow: #E8CC67;
  --bs-green: #29C79C;
  --bs-teal: #3b8272;
  --bs-cyan: #4A9DBE;
  --bs-black: #010a0c;
  --bs-white: #fff;
  --bs-gray: #8EA1A4;
  --bs-gray-dark: #607375;
  --bs-gray-100: #F1F3F3;
  --bs-gray-200: #C9D0D0;
  --bs-gray-300: #BECDCF;
  --bs-gray-400: #ACC0C3;
  --bs-gray-500: #9AB4B7;
  --bs-gray-600: #8EA1A4;
  --bs-gray-700: #718F93;
  --bs-gray-800: #607375;
  --bs-gray-900: #303335;
  --bs-primary: #385170;
  --bs-secondary: #8EA1A4;
  --bs-success: #29C79C;
  --bs-info: #4A9DBE;
  --bs-warning: #E8CC67;
  --bs-danger: #F2504A;
  --bs-light: #F1F3F3;
  --bs-dark: #607375;
  --bs-primary-rgb: 56, 81, 112;
  --bs-secondary-rgb: 142, 161, 164;
  --bs-success-rgb: 41, 199, 156;
  --bs-info-rgb: 74, 157, 190;
  --bs-warning-rgb: 232, 204, 103;
  --bs-danger-rgb: 242, 80, 74;
  --bs-light-rgb: 241, 243, 243;
  --bs-dark-rgb: 96, 115, 117;
  --bs-primary-text-emphasis: #16202d;
  --bs-secondary-text-emphasis: #394042;
  --bs-success-text-emphasis: #10503e;
  --bs-info-text-emphasis: #1e3f4c;
  --bs-warning-text-emphasis: #5d5229;
  --bs-danger-text-emphasis: #61201e;
  --bs-light-text-emphasis: #718F93;
  --bs-dark-text-emphasis: #718F93;
  --bs-primary-bg-subtle: #d7dce2;
  --bs-secondary-bg-subtle: #e8eced;
  --bs-success-bg-subtle: #d4f4eb;
  --bs-info-bg-subtle: #dbebf2;
  --bs-warning-bg-subtle: #faf5e1;
  --bs-danger-bg-subtle: #fcdcdb;
  --bs-light-bg-subtle: #f8f9f9;
  --bs-dark-bg-subtle: #ACC0C3;
  --bs-primary-border-subtle: #afb9c6;
  --bs-secondary-border-subtle: #d2d9db;
  --bs-success-border-subtle: #a9e9d7;
  --bs-info-border-subtle: #b7d8e5;
  --bs-warning-border-subtle: #f6ebc2;
  --bs-danger-border-subtle: #fab9b7;
  --bs-light-border-subtle: #C9D0D0;
  --bs-dark-border-subtle: #9AB4B7;
  --bs-white-rgb: 255, 255, 255;
  --bs-black-rgb: 1, 10, 12;
  --bs-font-sans-serif: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-body-font-size: 0.9375rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
  --bs-body-color: #303335;
  --bs-body-color-rgb: 48, 51, 53;
  --bs-body-bg: #fff;
  --bs-body-bg-rgb: 255, 255, 255;
  --bs-emphasis-color: #010a0c;
  --bs-emphasis-color-rgb: 1, 10, 12;
  --bs-secondary-color: #8EA1A4;
  --bs-secondary-color-rgb: 142, 161, 164;
  --bs-secondary-bg: #C9D0D0;
  --bs-secondary-bg-rgb: 201, 208, 208;
  --bs-tertiary-color: rgba(48, 51, 53, 0.5);
  --bs-tertiary-color-rgb: 48, 51, 53;
  --bs-tertiary-bg: #F1F3F3;
  --bs-tertiary-bg-rgb: 241, 243, 243;
  --bs-heading-color: inherit;
  --bs-link-color: #385170;
  --bs-link-color-rgb: 56, 81, 112;
  --bs-link-decoration: none;
  --bs-link-hover-color: #2d415a;
  --bs-link-hover-color-rgb: 45, 65, 90;
  --bs-code-color: #E85D75;
  --bs-highlight-color: #303335;
  --bs-highlight-bg: #faf5e1;
  --bs-border-width: 1px;
  --bs-border-style: solid;
  --bs-border-color: #BECDCF;
  --bs-border-color-translucent: rgba(1, 10, 12, 0.175);
  --bs-border-radius: 0.375rem;
  --bs-border-radius-sm: 0.25rem;
  --bs-border-radius-lg: 0.5rem;
  --bs-border-radius-xl: 1rem;
  --bs-border-radius-xxl: 2rem;
  --bs-border-radius-2xl: var(--bs-border-radius-xxl);
  --bs-border-radius-pill: 50rem;
  --bs-box-shadow: 0 0.5rem 1rem rgba(1, 10, 12, 0.15);
  --bs-box-shadow-sm: 0 0.125rem 0.25rem rgba(1, 10, 12, 0.075);
  --bs-box-shadow-lg: 0 1rem 3rem rgba(1, 10, 12, 0.175);
  --bs-box-shadow-inset: inset 0 1px 2px rgba(1, 10, 12, 0.075);
  --bs-focus-ring-width: 0.25rem;
  --bs-focus-ring-opacity: 0.25;
  --bs-focus-ring-color: rgba(56, 81, 112, 0.25);
  --bs-form-valid-color: #29C79C;
  --bs-form-valid-border-color: #29C79C;
  --bs-form-invalid-color: #F2504A;
  --bs-form-invalid-border-color: #F2504A;
}